### 1. IMPORT  DATASET and MODULES

In [3]:

import pandas as pd

In [4]:
import numpy as np
import matplotlib as plt
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

###

In [5]:
user_data=pd.read_csv("output.csv")
news = pd.read_csv("news.tsv", sep="\t", header=None)

In [6]:
news.rename(columns={2: "News ID", 5: "News Title", 6: "News"}, inplace=True)
news=news[['News ID','News Title','News']]

In [7]:
news

,News ID,News Title,News
0,N23144,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...
1,N86255,Dispose of unwanted prescription drugs during ...,NaN
2,N93187,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...
3,N75236,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi..."
4,N99744,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re..."
...,...,...,...
101520,N115249,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b..."
101521,N64337,Mansion Monday: Contemporary Des Moines home i...,Among the perks of this unique Des Moines home...
101522,N100102,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ..."
101523,N74617,Best Sports Car Deals for October,NaN
101524,N56840,Shall we dance: Sports stars shake their leg,NaN

###

### 2.  EDA

In [8]:
user_data['Impression ID'].isnull().sum()

3975401

In [9]:
user_data['Impressions'].isnull().sum()

3975401

### The impression id, Impressions is null , so we should remove it and then get the data according to the user ID from MIND DATASET

###

In [10]:
user_data.drop(['Impression ID','Impressions'],axis=1,inplace=True)

In [11]:
user_data.shape

(3975401, 7)

###

###

In [12]:
user_data.columns

Index(['User ID', 'Time', 'News ID', 'Clicked', 'Main Category',
       'Sub Category', 'Title Entities'],
      dtype='object')

In [13]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2E3D-90D7

 Directory of C:\Users\LENOVO\Desktop\news-reco-mind

02/10/2025  09:31 PM    <DIR>          .
02/05/2025  11:30 PM    <DIR>          ..
02/08/2025  12:47 AM    <DIR>          .ipynb_checkpoints
02/04/2025  01:27 PM            38,228 1728574096435.jpg
02/05/2025  11:13 AM            13,027 9ee72136-df19-4c4a-a368-7238b86981fc.jpg
02/04/2025  01:27 PM           177,199 AAYQAQSOAAgAAQAAAAAAAB-zrMZEDXI2T62PSuT6kpB6qg.png
02/10/2025  01:19 PM           221,064 after_embedded.ipynb
02/02/2025  11:21 AM     1,373,844,151 behaviors.tsv
02/02/2025  11:28 AM               134 ctr_by_category.csv
02/07/2025  11:42 PM       817,647,567 edited_data.csv
02/02/2025  11:21 AM        40,305,151 entity_embedding.vec
02/02/2025  11:29 AM             1,043 entity_trends.csv
02/04/2025  11:52 AM             4,053 nepali_stopwords.txt
02/02/2025  08:23 PM           224,437 News Behavior Analysis(large dataset).ipynb
02/03/2025  01:23 PM        93,029,431 news.tsv
02/02/2025  08:22 PM     1,007,090,494 output.csv
02/02/2025  11:29 AM                84 popular_categories.csv
02/02/2025  11:29 AM             2,047 recommendations.csv
02/02/2025  11:21 AM         1,044,588 relation_embedding.vec
02/04/2025  07:44 PM            88,347 Screenshot 2024-08-31 232936.png
02/04/2025  07:44 PM            35,632 Screenshot 2024-09-03 183600.png
02/08/2025  01:38 AM     1,244,206,891 similarity_matrix.pkl
02/10/2025  09:31 PM           145,005 Untitled.ipynb
02/10/2025  09:28 PM             7,322 update.py
02/10/2025  02:11 PM        33,090,383 updated.csv
02/03/2025  02:22 PM       166,168,449 updated_news.tsv
02/02/2025  11:28 AM        12,934,770 user_engagement.csv
02/02/2025  11:28 AM               997 user_news_counts.csv
              25 File(s)  4,790,320,494 bytes
               3 Dir(s)  56,448,966,656 bytes free

In [14]:
engagement=pd.read_csv("user_engagement.csv")

In [15]:
engagement

        User ID  Total Clicks  Total Impressions       CTR
0            U0             0                 30  0.000000
1            U1             3                 44  0.068182
2          U100             0                 10  0.000000
3        U10000             0                 22  0.000000
4       U100000             0                  1  0.000000
...         ...           ...                ...       ...
638538   U99995             0                  1  0.000000
638539   U99996             0                  2  0.000000
638540   U99997             0                  7  0.000000
638541   U99998             0                 60  0.000000
638542   U99999             0                  5  0.000000

[638543 rows x 4 columns]

In [16]:
user_data.isnull().sum()

User ID                 0
Time              3975401
News ID                 0
Clicked                 0
Main Category           0
Sub Category            0
Title Entities          0
dtype: int64

In [17]:
user_data=engagement.merge(user_data,on='User ID')

In [18]:
user_data

,User ID,Total Clicks,Total Impressions,CTR,Time,News ID,Clicked,Main Category,Sub Category,Title Entities
0,U0,0,30,0.0,NaN,N37105,0.0,technology,music-gallery,[]
1,U0,0,30,0.0,NaN,N110664,0.0,sports,basketball_nba,"[{""Label"": ""Los Angeles Lakers"", ""Type"": ""O"", ..."
2,U0,0,30,0.0,NaN,N106702,0.0,finance,personalfinance,[]
3,U0,0,30,0.0,NaN,N31766,0.0,politics,newsworld,"[{""Label"": ""Australia"", ""Type"": ""G"", ""Wikidata..."
4,U0,0,30,0.0,NaN,N114054,0.0,politics,newspolitics,"[{""Label"": ""Donald Trump"", ""Type"": ""P"", ""Wikid..."
...,...,...,...,...,...,...,...,...,...,...
3972645,U99998,0,60,0.0,NaN,N105016,0.0,technology,newsscienceandtechnology,"[{""Label"": ""Labour Party (UK)"", ""Type"": ""O"", ""..."
3972646,U99998,0,60,0.0,NaN,N106579,0.0,politics,newsus,"[{""Label"": ""San Francisco"", ""Type"": ""G"", ""Wiki..."
3972647,U99998,0,60,0.0,NaN,N12437,0.0,sports,baseball_mlb,"[{""Label"": ""Major League Baseball"", ""Type"": ""O..."
3972648,U99999,0,5,0.0,NaN,N51686,0.0,finance,personalfinance,[]
3972649,U99999,0,5,0.0,NaN,N112227,0.0,sports,football_nfl,"[{""Label"": ""Detroit Lions"", ""Type"": ""O"", ""Wiki..."

In [19]:
user_data[user_data['Total Clicks']>0]

,User ID,Total Clicks,Total Impressions,CTR,Time,News ID,Clicked,Main Category,Sub Category,Title Entities
14,U1,3,44,0.068182,NaN,N101100,0.0,politics,newspolitics,"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
15,U1,3,44,0.068182,NaN,N87913,0.0,technology,factcheck,[]
16,U1,3,44,0.068182,NaN,N99507,0.0,technology,factcheck,"[{""Label"": ""Donald Trump"", ""Type"": ""P"", ""Wikid..."
17,U1,3,44,0.068182,NaN,N39373,0.0,politics,newsopinion,"[{""Label"": ""Donald Trump"", ""Type"": ""P"", ""Wikid..."
18,U1,3,44,0.068182,NaN,N47110,0.0,politics,newscrime,"[{""Label"": ""St. Louis"", ""Type"": ""G"", ""Wikidata..."
...,...,...,...,...,...,...,...,...,...,...
3972589,U99990,1,2,0.500000,NaN,N118883,0.0,politics,newsus,"[{""Label"": ""Andrew Napolitano"", ""Type"": ""P"", ""..."
3972615,U99994,1,6,0.166667,NaN,N67747,0.0,politics,newspolitics,"[{""Label"": ""Joe Biden"", ""Type"": ""P"", ""Wikidata..."
3972616,U99994,1,6,0.166667,NaN,N112755,0.0,technology,movievideo,[]
3972617,U99994,1,6,0.166667,NaN,N126000,1.0,finance,personalfinance,[]
3972618,U99994,1,6,0.166667,NaN,N32154,0.0,politics,newsus,"[{""Label"": ""Porsche"", ""Type"": ""O"", ""WikidataId..."

In [20]:
user_data.isnull().sum()

User ID                    0
Total Clicks               0
Total Impressions          0
CTR                        0
Time                 3972650
News ID                    0
Clicked                    0
Main Category              0
Sub Category               0
Title Entities             0
dtype: int64

In [21]:
user_data.drop(['Time'],axis=1,inplace=True)

In [22]:
user_data.columns

Index(['User ID', 'Total Clicks', 'Total Impressions', 'CTR', 'News ID',
       'Clicked', 'Main Category', 'Sub Category', 'Title Entities'],
      dtype='object')

In [23]:
user_data['Sub Category']

0                     music-gallery
1                    basketball_nba
2                   personalfinance
3                         newsworld
4                      newspolitics
                     ...
3972645    newsscienceandtechnology
3972646                      newsus
3972647                baseball_mlb
3972648             personalfinance
3972649                football_nfl
Name: Sub Category, Length: 3972650, dtype: object

In [24]:
unique_users = user_data['User ID'].drop_duplicates().head(10000)

In [25]:
user_data_short=user_data[user_data['User ID'].isin(unique_users)]

In [26]:
user_data_short['User ID'].nunique()

10000

In [27]:
user_data_short

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,Sub Category,Title Entities
0,U0,0,30,0.0,N37105,0.0,technology,music-gallery,[]
1,U0,0,30,0.0,N110664,0.0,sports,basketball_nba,"[{""Label"": ""Los Angeles Lakers"", ""Type"": ""O"", ..."
2,U0,0,30,0.0,N106702,0.0,finance,personalfinance,[]
3,U0,0,30,0.0,N31766,0.0,politics,newsworld,"[{""Label"": ""Australia"", ""Type"": ""G"", ""Wikidata..."
4,U0,0,30,0.0,N114054,0.0,politics,newspolitics,"[{""Label"": ""Donald Trump"", ""Type"": ""P"", ""Wikid..."
...,...,...,...,...,...,...,...,...,...
69299,U111042,0,4,0.0,N26368,0.0,politics,newscrime,[]
69300,U111042,0,4,0.0,N37441,0.0,politics,newsus,[]
69301,U111042,0,4,0.0,N63262,0.0,sports,football_nfl,"[{""Label"": ""Rob Gronkowski"", ""Type"": ""P"", ""Wik..."
69302,U111044,1,1,1.0,N96805,0.0,sports,basketball_nba,"[{""Label"": ""LeBron James"", ""Type"": ""P"", ""Wikid..."
69303,U111045,0,1,0.0,N12681,1.0,finance,finance-real-estate,"[{""Label"": ""United States"", ""Type"": ""G"", ""Wiki..."

In [28]:
user_with_news=user_data_short.merge(news,on="News ID")

In [29]:
user_with_news.dropna(inplace=True)

In [30]:
user_with_news.reset_index(inplace=True)

In [31]:
user_with_news.drop('index',inplace=True,axis=1)

In [32]:
user_with_news['News Title']=user_with_news['News Title'].apply(lambda x : x.split())

In [33]:
user_with_news['News']=user_with_news['News'].apply(lambda x : x.split())

In [34]:
user_with_news['Sub Category']=user_with_news['Sub Category'].apply(lambda x : x.split())

In [35]:
user_with_news['Contents']=user_with_news['News Title']+user_with_news['News']+user_with_news['Sub Category']

In [36]:
user_with_news.drop(['Sub Category'],axis=1,inplace=True)

In [37]:
user_with_news

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,Title Entities,News Title,News,Contents
0,U0,0,30,0.000000,N37105,0.0,technology,[],"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...","[35, musicians, you, should, see, live, at, le..."
1,U100179,0,11,0.000000,N37105,0.0,technology,[],"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...","[35, musicians, you, should, see, live, at, le..."
2,U100275,0,20,0.000000,N37105,0.0,technology,[],"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...","[35, musicians, you, should, see, live, at, le..."
3,U100324,3,17,0.176471,N37105,0.0,technology,[],"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...","[35, musicians, you, should, see, live, at, le..."
4,U100486,2,31,0.064516,N37105,0.0,technology,[],"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...","[35, musicians, you, should, see, live, at, le..."
...,...,...,...,...,...,...,...,...,...,...,...
65268,U110988,0,13,0.000000,N40598,0.0,politics,"[{""Label"": ""Star Tribune"", ""Type"": ""M"", ""Wikid...","[Star, Tribune, brings, back, 'Peach', edition]","[Today, the, Minneapolis, Star, Tribune, broug...","[Star, Tribune, brings, back, 'Peach', edition..."
65269,U110988,0,13,0.000000,N59600,0.0,sports,"[{""Label"": ""D'Angelo Russell"", ""Type"": ""P"", ""W...","[D'Angelo, Russell:, Minnesota, weather, playe...","[D'Angelo, Russell, seemed, likely, to, join, ...","[D'Angelo, Russell:, Minnesota, weather, playe..."
65270,U111,0,20,0.000000,N67681,0.0,sports,"[{""Label"": ""Konfrontacja Sztuk Walki"", ""Type"":...","[KSW, 51:, Pudzianowski, vs., Jun, live, resul...","[Bloody, Elbow, is, the, place, to, be, for, l...","[KSW, 51:, Pudzianowski, vs., Jun, live, resul..."
65271,U111002,0,6,0.000000,N86886,0.0,politics,[],"[Who, are, your, #DaytonStrong, Heroes?]","[This, has, been, a, year, of, daunting, chall...","[Who, are, your, #DaytonStrong, Heroes?, This,..."
65272,U111012,3,22,0.136364,N21710,0.0,finance,[],"[Couples, weigh, 'strategic, divorce', to, sav...","[Financial, advisors, warn, that, couples, who...","[Couples, weigh, 'strategic, divorce', to, sav..."

In [38]:
import pandas as pd
import ast  # To safely convert stringified lists/dictionaries
df=user_with_news

# Convert "Title Entities" from string to a list of dictionaries (if needed)
df["Title Entities"] = df["Title Entities"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x)

# Extract all values from "Title Entities"
def extract_entity_info(entities):
    if not isinstance(entities, list):  # Handle missing values
        return []
    
    extracted_values = []
    for entity in entities:
        for key, value in entity.items():
            if isinstance(value, list):  # Flatten lists (e.g., 'OccurrenceOffsets', 'SurfaceForms')
                extracted_values.extend(map(str, value))
            else:
                extracted_values.append(str(value))
    
    return extracted_values

df["Extracted Entities"] = df["Title Entities"].apply(extract_entity_info)

# Merge extracted entity information with "Contents"
df["Combined"] = df["Extracted Entities"] + df["Contents"]

In [39]:
cleaned_data=df.drop(['Extracted Entities','Contents','Title Entities','Contents'],axis=1)
cleaned_data['Combined'][0]

['35',
 'musicians',
 'you',
 'should',
 'see',
 'live',
 'at',
 'least',
 'once',
 'in',
 'your',
 'life',
 'If',
 'you',
 'have',
 'a',
 'chance',
 'to',
 'see',
 'these',
 'musicians',
 'live,',
 'you',
 'absolutely',
 'need',
 'to',
 'take',
 'the',
 'chance',
 'and',
 'grab',
 'a',
 'ticket.',
 'music-gallery']

### EMBEDDINGS AND MODEL DEVELOPMENT

In [40]:
#pip install torch transformers sentence-transformers tensorflow tensorflow-hub numpy scipy

##

#### USING LaBSE to check its accuracy of embeddings for nepali and english Language to Capture the true meaning and give recommendation better

##

##

### conversion again to the str of combined contents

In [42]:
cleaned_data['Combined']=cleaned_data['Combined'].apply(lambda x:" ".join(x))
cleaned_data['Combined']=cleaned_data['Combined'].apply(lambda x:x.lower())

In [43]:
cleaned_data

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,News Title,News,Combined
0,U0,0,30,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",35 musicians you should see live at least once...
1,U100179,0,11,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",35 musicians you should see live at least once...
2,U100275,0,20,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",35 musicians you should see live at least once...
3,U100324,3,17,0.176471,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",35 musicians you should see live at least once...
4,U100486,2,31,0.064516,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",35 musicians you should see live at least once...
...,...,...,...,...,...,...,...,...,...,...
65268,U110988,0,13,0.000000,N40598,0.0,politics,"[Star, Tribune, brings, back, 'Peach', edition]","[Today, the, Minneapolis, Star, Tribune, broug...",star tribune m q862148 1.0 0 star tribune star...
65269,U110988,0,13,0.000000,N59600,0.0,sports,"[D'Angelo, Russell:, Minnesota, weather, playe...","[D'Angelo, Russell, seemed, likely, to, join, ...",d'angelo russell p q18749170 1.0 0 d'angelo ru...
65270,U111,0,20,0.000000,N67681,0.0,sports,"[KSW, 51:, Pudzianowski, vs., Jun, live, resul...","[Bloody, Elbow, is, the, place, to, be, for, l...",konfrontacja sztuk walki o q3198646 1.0 0 ksw ...
65271,U111002,0,6,0.000000,N86886,0.0,politics,"[Who, are, your, #DaytonStrong, Heroes?]","[This, has, been, a, year, of, daunting, chall...",who are your #daytonstrong heroes? this has be...
65272,U111012,3,22,0.136364,N21710,0.0,finance,"[Couples, weigh, 'strategic, divorce', to, sav...","[Financial, advisors, warn, that, couples, who...",couples weigh 'strategic divorce' to save on t...

In [44]:
pip install nepali-stemmer nltk

Requirement already satisfied: nepali-stemmer in c:\users\lenovo\anaconda3\lib\site-packages (0.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: nltk in c:\users\lenovo\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [45]:
pip install importlib-resources

Requirement already satisfied: importlib-resources in c:\users\lenovo\anaconda3\lib\site-packages (6.5.2)Note: you may need to restart the kernel to use updated packages.

### MULTI LANGUAGE STEMMMING

In [46]:
import re
import nltk
from nltk.stem import PorterStemmer

# Initialize the English stemmer
ps = PorterStemmer()

# List of common Nepali suffixes (can be expanded)
nepali_suffixes = ["हरू", "मा", "ले", "लाई", "बाट", "को", "का", "की", "सँग", "हरूलाई", "हरु", "ति", "ता", "ए", "ने"]

def is_nepali(word):
    """Check if a word is likely Nepali based on Unicode range."""
    return any("\u0900" <= char <= "\u097F" for char in word)

def custom_nepali_stem(word):
    """Manually remove common Nepali suffixes."""
    for suffix in nepali_suffixes:
        if word.endswith(suffix):
            return re.sub(suffix + "$", "", word)  # Remove suffix
    return word  # Return word if no suffix matched

def bilingual_stemmer(text):
    words = text.split()
    stemmed_words = []

    for word in words:
        clean_word = re.sub(r"[^a-zA-Z\u0900-\u097F]", "", word)  # Remove special characters

        if is_nepali(clean_word):
            stemmed_word = custom_nepali_stem(clean_word)  # Apply Nepali stemming
        else:
            stemmed_word = ps.stem(clean_word)  # Apply English stemming
        
        stemmed_words.append(stemmed_word)

    return " ".join(stemmed_words)

In [47]:
cleaned_data['Combined']=cleaned_data['Combined'].apply(bilingual_stemmer)

In [48]:
cleaned_data

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,News Title,News,Combined
0,U0,0,30,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician you should see live at least onc in ...
1,U100179,0,11,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician you should see live at least onc in ...
2,U100275,0,20,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician you should see live at least onc in ...
3,U100324,3,17,0.176471,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician you should see live at least onc in ...
4,U100486,2,31,0.064516,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician you should see live at least onc in ...
...,...,...,...,...,...,...,...,...,...,...
65268,U110988,0,13,0.000000,N40598,0.0,politics,"[Star, Tribune, brings, back, 'Peach', edition]","[Today, the, Minneapolis, Star, Tribune, broug...",star tribun m q star tribun star tribun brin...
65269,U110988,0,13,0.000000,N59600,0.0,sports,"[D'Angelo, Russell:, Minnesota, weather, playe...","[D'Angelo, Russell, seemed, likely, to, join, ...",dangelo russel p q dangelo russel dangelo ru...
65270,U111,0,20,0.000000,N67681,0.0,sports,"[KSW, 51:, Pudzianowski, vs., Jun, live, resul...","[Bloody, Elbow, is, the, place, to, be, for, l...",konfrontacja sztuk walki o q ksw mariusz pud...
65271,U111002,0,6,0.000000,N86886,0.0,politics,"[Who, are, your, #DaytonStrong, Heroes?]","[This, has, been, a, year, of, daunting, chall...",who are your daytonstrong hero thi ha been a y...
65272,U111012,3,22,0.136364,N21710,0.0,finance,"[Couples, weigh, 'strategic, divorce', to, sav...","[Financial, advisors, warn, that, couples, who...",coupl weigh strateg divorc to save on tax fina...

In [49]:

ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2E3D-90D7

 Directory of C:\Users\LENOVO\Desktop\news-reco-mind

02/10/2025  09:39 PM    <DIR>          .
02/05/2025  11:30 PM    <DIR>          ..
02/08/2025  12:47 AM    <DIR>          .ipynb_checkpoints
02/04/2025  01:27 PM            38,228 1728574096435.jpg
02/05/2025  11:13 AM            13,027 9ee72136-df19-4c4a-a368-7238b86981fc.jpg
02/04/2025  01:27 PM           177,199 AAYQAQSOAAgAAQAAAAAAAB-zrMZEDXI2T62PSuT6kpB6qg.png
02/10/2025  01:19 PM           221,064 after_embedded.ipynb
02/02/2025  11:21 AM     1,373,844,151 behaviors.tsv
02/02/2025  11:28 AM               134 ctr_by_category.csv
02/07/2025  11:42 PM       817,647,567 edited_data.csv
02/02/2025  11:21 AM        40,305,151 entity_embedding.vec
02/02/2025  11:29 AM             1,043 entity_trends.csv
02/04/2025  11:52 AM             4,053 nepali_stopwords.txt
02/02/2025  08:23 PM           224,437 News Behavior Analysis(large dataset).ipynb
02/03/2025  01:23 PM        93,029,431 news.tsv
02/02/2025  08:22 PM     1,007,090,494 output.csv
02/02/2025  11:29 AM                84 popular_categories.csv
02/02/2025  11:29 AM             2,047 recommendations.csv
02/02/2025  11:21 AM         1,044,588 relation_embedding.vec
02/04/2025  07:44 PM            88,347 Screenshot 2024-08-31 232936.png
02/04/2025  07:44 PM            35,632 Screenshot 2024-09-03 183600.png
02/08/2025  01:38 AM     1,244,206,891 similarity_matrix.pkl
02/10/2025  09:39 PM            98,922 Untitled.ipynb
02/10/2025  09:28 PM             7,322 update.py
02/10/2025  02:11 PM        33,090,383 updated.csv
02/03/2025  02:22 PM       166,168,449 updated_news.tsv
02/02/2025  11:28 AM        12,934,770 user_engagement.csv
02/02/2025  11:28 AM               997 user_news_counts.csv
              25 File(s)  4,790,274,411 bytes
               3 Dir(s)  56,432,975,872 bytes free

###

##

### MULTI LANGUAGE STOPWORDS REMOVAL

In [50]:
def load_nepali_stopwords(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        # Read all lines, strip whitespace, and return a set of stopwords
        stopwords = {line.strip() for line in f if line.strip()}
    return stopwords

# Path to your file
nepali_stopwords_file = "nepali_stopwords.txt"
nepali_stopwords = load_nepali_stopwords(nepali_stopwords_file)

In [51]:
import re
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
english_stopwords = set(stopwords.words('english'))

# Function to remove stopwords for both Nepali and English text
def remove_stopwords_mixed(text, nepali_stopwords, english_stopwords):
    # Remove punctuation (optional)
    text = re.sub(r'[^\w\s]', '', text)
    words = text.split()
    filtered_words = [
        word for word in words
        if word.lower() not in english_stopwords and word not in nepali_stopwords
    ]
    return " ".join(filtered_words)

# Load your Nepali stopwords from file (ensure UTF-8 encoding)
def load_nepali_stopwords(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        return {line.strip() for line in f if line.strip()}

# Path to your Nepali stopwords file
nepali_stopwords_file = "nepali_stopwords.txt"
nepali_stopwords = load_nepali_stopwords(nepali_stopwords_file)

# Create a sample DataFrame
data = {
    'text': [
        "म नेपालमा जन्में हो, and I love coding and solving problems.",
        "यो अर्को उदाहरण हो, where stopwords are removed."
    ]}

# Apply the function on the 'text' column using .apply()
cleaned_data['Combined'] = cleaned_data['Combined'].apply(lambda x: remove_stopwords_mixed(x, nepali_stopwords, english_stopwords))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [52]:
cleaned_data['Combined'][0]

'musician see live least onc life chanc see musician live absolut need take chanc grab ticket musicgalleri'

##

##

### SPICY TO GET RECOMMENDATION

In [53]:
cleaned_data

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,News Title,News,Combined
0,U0,0,30,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
1,U100179,0,11,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
2,U100275,0,20,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
3,U100324,3,17,0.176471,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
4,U100486,2,31,0.064516,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
...,...,...,...,...,...,...,...,...,...,...
65268,U110988,0,13,0.000000,N40598,0.0,politics,"[Star, Tribune, brings, back, 'Peach', edition]","[Today, the, Minneapolis, Star, Tribune, broug...",star tribun q star tribun star tribun bring ba...
65269,U110988,0,13,0.000000,N59600,0.0,sports,"[D'Angelo, Russell:, Minnesota, weather, playe...","[D'Angelo, Russell, seemed, likely, to, join, ...",dangelo russel p q dangelo russel dangelo russ...
65270,U111,0,20,0.000000,N67681,0.0,sports,"[KSW, 51:, Pudzianowski, vs., Jun, live, resul...","[Bloody, Elbow, is, the, place, to, be, for, l...",konfrontacja sztuk walki q ksw mariusz pudzian...
65271,U111002,0,6,0.000000,N86886,0.0,politics,"[Who, are, your, #DaytonStrong, Heroes?]","[This, has, been, a, year, of, daunting, chall...",daytonstrong hero thi ha year daunt challeng m...
65272,U111012,3,22,0.136364,N21710,0.0,finance,"[Couples, weigh, 'strategic, divorce', to, sav...","[Financial, advisors, warn, that, couples, who...",coupl weigh strateg divorc save tax financi ad...

In [54]:
cleaned_data.to_csv("edited_data.csv", index=False)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
cleaned_data['Combined']

0        musician see live least onc life chanc see mus...
1        musician see live least onc life chanc see mus...
2        musician see live least onc life chanc see mus...
3        musician see live least onc life chanc see mus...
4        musician see live least onc life chanc see mus...
                               ...
65268    star tribun q star tribun star tribun bring ba...
65269    dangelo russel p q dangelo russel dangelo russ...
65270    konfrontacja sztuk walki q ksw mariusz pudzian...
65271    daytonstrong hero thi ha year daunt challeng m...
65272    coupl weigh strateg divorc save tax financi ad...
Name: Combined, Length: 65273, dtype: object

In [57]:
cleaned_data

,User ID,Total Clicks,Total Impressions,CTR,News ID,Clicked,Main Category,News Title,News,Combined
0,U0,0,30,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
1,U100179,0,11,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
2,U100275,0,20,0.000000,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
3,U100324,3,17,0.176471,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
4,U100486,2,31,0.064516,N37105,0.0,technology,"[35, musicians, you, should, see, live, at, le...","[If, you, have, a, chance, to, see, these, mus...",musician see live least onc life chanc see mus...
...,...,...,...,...,...,...,...,...,...,...
65268,U110988,0,13,0.000000,N40598,0.0,politics,"[Star, Tribune, brings, back, 'Peach', edition]","[Today, the, Minneapolis, Star, Tribune, broug...",star tribun q star tribun star tribun bring ba...
65269,U110988,0,13,0.000000,N59600,0.0,sports,"[D'Angelo, Russell:, Minnesota, weather, playe...","[D'Angelo, Russell, seemed, likely, to, join, ...",dangelo russel p q dangelo russel dangelo russ...
65270,U111,0,20,0.000000,N67681,0.0,sports,"[KSW, 51:, Pudzianowski, vs., Jun, live, resul...","[Bloody, Elbow, is, the, place, to, be, for, l...",konfrontacja sztuk walki q ksw mariusz pudzian...
65271,U111002,0,6,0.000000,N86886,0.0,politics,"[Who, are, your, #DaytonStrong, Heroes?]","[This, has, been, a, year, of, daunting, chall...",daytonstrong hero thi ha year daunt challeng m...
65272,U111012,3,22,0.136364,N21710,0.0,finance,"[Couples, weigh, 'strategic, divorce', to, sav...","[Financial, advisors, warn, that, couples, who...",coupl weigh strateg divorc save tax financi ad...

In [58]:
cleaned_data['News Title']=cleaned_data['News Title'].apply(lambda x:" ".join(x))

In [59]:
cleaned_data['News']=cleaned_data['News'].apply(lambda x:" ".join(x))

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### Uses TF-IDF (Term Frequency-Inverse Document Frequency) to convert news text into numerical vectors
Considers both single words and pairs of words (ngram_range=(1, 2))
Removes common English stop words
Limits to 10,000 most important features
Calculates similarity between articles using cosine similarity

In [66]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import scipy.sparse as sp

class NewsRecommender:
    def __init__(self, data_path):
        """Initialize the recommender system with data path"""
        self.cleaned_data = pd.read_csv(data_path)
        self.prepare_data()
        self.create_similarity_matrices()
        
    def prepare_data(self):
        """Prepare and validate the data"""
        # Aggregate news content
        self.news_grouped = self.cleaned_data.groupby('News ID')['Combined'].agg(
            lambda texts: ' '.join(texts.astype(str))
        ).reset_index()
        
        # Add Main Category
        self.news_grouped = self.news_grouped.merge(
            self.cleaned_data[['News ID', 'Main Category']].drop_duplicates(),
            on='News ID',
            how='left'
        )
        
        # Create news ID mapping
        self.news_ids = self.news_grouped['News ID'].tolist()
        self.news_to_idx = {news_id: idx for idx, news_id in enumerate(self.news_ids)}
        
    def create_similarity_matrices(self):
        """Create content and category similarity matrices"""
        # Content-based similarity
        vectorizer = TfidfVectorizer(
            stop_words='english',
            #remove stopwords again according to the language
            ngram_range=(1, 2),
            max_df=0.85,
            min_df=2,
            sublinear_tf=True,
            max_features=10000
        )
        news_embeddings = vectorizer.fit_transform(self.news_grouped['Combined'])
        self.content_similarity_matrix = cosine_similarity(news_embeddings, dense_output=False)
        
        
        categories = self.news_grouped['Main Category'].unique()
        category_to_idx = {cat: idx for idx, cat in enumerate(categories)}
        category_matrix = np.zeros((len(self.news_grouped), len(categories)))
        
        for idx, row in self.news_grouped.iterrows():
            category_matrix[idx, category_to_idx[row['Main Category']]] = 1
            
        self.category_similarity_matrix = cosine_similarity(category_matrix, dense_output=False)
        
        # Create hybrid similarity matrix
        self.hybrid_similarity_matrix = 0.6 * self.content_similarity_matrix + 0.4 * self.category_similarity_matrix
        
    def get_user_history(self, user_id):
        """Get the news reading history for a user"""
        return self.cleaned_data[self.cleaned_data['User ID'] == user_id]['News ID'].unique()
        
    def get_news_details(self, news_id):
        """Get details of a specific news article"""
        news_info = self.cleaned_data[self.cleaned_data['News ID'] == news_id].iloc[0]
        return {
            'news_id': news_id,
            'title': news_info['News Title'],
            'content': news_info['News'],
            'category': news_info['Main Category']
        }
        
    def recommend_news(self, user_id, top_n=5):
        """Generate news recommendations for a user"""
        # Get user's reading history
        user_clicked = self.get_user_history(user_id)
        
        if not user_clicked.size:
            print(f"User {user_id} has no click history.")
            return []
            
        # Calculate recommendation scores
        scores = np.zeros(len(self.news_ids))
        valid_click_count = 0
        
        for news_id in user_clicked:
            if news_id in self.news_to_idx:
                row_index = self.news_to_idx[news_id]
                row = self.hybrid_similarity_matrix[row_index]
                if sp.issparse(row):
                    row_scores = row.toarray().flatten()
                else:
                    row_scores = np.asarray(row).flatten()
                scores += row_scores
                valid_click_count += 1
                
        if valid_click_count == 0:
            print(f"No valid clicked news found for user {user_id}")
            return []
            
        scores /= valid_click_count
        
        # Get recommendations
        clicked_set = set(user_clicked)
        sorted_indices = np.argsort(scores)[::-1]
        
        recommendations = []
        for idx in sorted_indices:
            if len(recommendations) >= top_n:
                break
            candidate = self.news_ids[idx]
            if candidate not in clicked_set:
                recommendations.append(self.get_news_details(candidate))
                
        return recommendations


    # Initialize recommender
recommender = NewsRecommender('updated.csv')
    
    # Example usage
user_id = 'U0'  # Replace with actual user ID
    
    # Get user's reading history
history = recommender.get_user_history(user_id)
print(f"\nUser {user_id}'s reading history:")
for news_id in history:
    news = recommender.get_news_details(news_id)
    print(f"\nTitle: {news['title']}")
    print(f"Category: {news['category']}")
        
    # Get recommendations
recommendations = recommender.recommend_news(user_id)
print(f"\nTop 5 recommendations for user {user_id}:")

User U0's reading history:

Title: 35 musicians you should see live at least once in your life
Category: technology

Title: Davis' 26 send Lakers past Heat 95-80 for 7th straight win
Category: sports

Title: 31 Dumb Things That Are Keeping You From Becoming Wealthy
Category: finance

Title: 3 dead, dozens injured as Australia wildfires raze homes
Category: politics

Title: Analysis: Only 3 Senate Republicans aren't defending Trump from the impeachment inquiry. Here's why.
Category: politics

Title: A US cargo ship carrying 1,400 tonnes of TNT that sank at the end of the River Thames in 1944 is posing a threat to London from its salty grave
Category: politics

Title: 15 of the Best Towing Vehicles That Aren't Trucks
Category: technology

Title: Highways on Fire. Semesters Cut Short. A Recession. Can Hong Kong Heal?
Category: politics

Title: Trump admin preparing to take over private land for border wall
Category: politics

Title: Home Values in These Cities Have Grown the Most Since the Last Recession
Category: finance

Title: 3 things to watch for in Friday's Trump impeachment hearing
Category: politics

Title: Walmart manager ready as store where El Paso mass shooting occurred reopens
Category: politics

Title: Man charged with stealing donation jars meant for family of murdered Waterville mother
Category: politics

Top 5 recommendations for user U0:

1. Title: 5 things to look for as public hearings begin in the House impeachment inquiry of President Donald Trump
   Category: politics
   Content: Here are five things to look for as the House Intelligence Committee begins public hearings in the impeachment inquiry of President Donald Trump...

2. Title: An ambassador fired: What to watch on Day 2 of impeachment
   Category: politics
   Content: An ambassador, her firing and a pair of fixers. Those details stand at the center of Marie Yovanovitch's story, a personal ordeal she is describing to Americans and the world Friday as part of the Dem...

3. Title: Items from El Paso Walmart moved; some for display, some for storage, some given to families
   Category: politics
   Content: The El Paso Walmart, the site of the August 3 mass shooting, where 22 people were killed and dozens injured, opened Thursday. The site of the massacre became a memorial, much like many other mass kill...

4. Title: Trump: Democrats 'are try to overthrow American democracy'
   Category: politics
   Content: President Trump disparaged the impeachment inquiry while speaking at a rally in Bossier City, La. on Nov. 14, just one day ahead of the public impeachment hearing of former ambassador to Ukraine Marie...

5. Title: Amid Trump impeachment drama, Ukrainians ponder a Putin meeting
   Category: politics
   Content: The worst thing we can do is become a bargaining chip, Ukraine's foreign minister said of the impeachment hearings. "Unfortunately, we are such a chip now."...
Precision: 0.0000, Recall: 0.0000, F1-score: 0.0000

### ACCURACY MEASUREMENT

In [81]:
print("yes")

yes

In [86]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import scipy.sparse as sp
from sklearn.model_selection import train_test_split
from sentence_transformers import SentenceTransformer  # For advanced text embeddings

class NewsRecommender:
    def __init__(self, data_path):
        """Initialize the recommender system with data path"""
        self.cleaned_data = pd.read_csv(data_path)
        self.prepare_data()
        self.create_similarity_matrices()
        
    def prepare_data(self):
        """Prepare and validate the data"""
        # Aggregate news content
        self.news_grouped = self.cleaned_data.groupby('News ID')['Combined'].agg(
            lambda texts: ' '.join(texts.astype(str))
        ).reset_index()
        
        # Add Main Category
        self.news_grouped = self.news_grouped.merge(
            self.cleaned_data[['News ID', 'Main Category']].drop_duplicates(),
            on='News ID',
            how='left'
        )
        
        # Create news ID mapping
        self.news_ids = self.news_grouped['News ID'].tolist()
        self.news_to_idx = {news_id: idx for idx, news_id in enumerate(self.news_ids)}
        
    def create_similarity_matrices(self):
        """Create content and category similarity matrices"""
        # Content-based similarity using advanced embeddings (e.g., Sentence Transformers)
        model = SentenceTransformer('all-MiniLM-L6-v2')
        self.content_embeddings = model.encode(self.news_grouped['Combined'])
        self.content_similarity_matrix = cosine_similarity(self.content_embeddings)
        
        # Category-based similarity
        categories = self.news_grouped['Main Category'].unique()
        category_to_idx = {cat: idx for idx, cat in enumerate(categories)}
        category_matrix = np.zeros((len(self.news_grouped), len(categories)))
        
        for idx, row in self.news_grouped.iterrows():
            category_matrix[idx, category_to_idx[row['Main Category']]] = 1
            
        self.category_similarity_matrix = cosine_similarity(category_matrix)
        
        # Create hybrid similarity matrix
        self.hybrid_similarity_matrix = 0.7 * self.content_similarity_matrix + 0.3 * self.category_similarity_matrix
        
    def get_user_history(self, user_id):
        """Get the news reading history for a user"""
        return self.cleaned_data[self.cleaned_data['User ID'] == user_id]['News ID'].unique()
        
    def get_news_details(self, news_id):
        """Get details of a specific news article"""
        news_info = self.cleaned_data[self.cleaned_data['News ID'] == news_id].iloc[0]
        return {
            'news_id': news_id,
            'title': news_info['News Title'],
            'content': news_info['News'],
            'category': news_info['Main Category']
        }
        
    def recommend_news(self, user_id=None, clicked_news_ids=None, top_n=5):
        """Generate news recommendations based on user's clicked news or user_id."""
        if clicked_news_ids is None:
            if user_id is None:
                raise ValueError("Either user_id or clicked_news_ids must be provided.")
            clicked_news_ids = self.get_user_history(user_id)
        
        if not clicked_news_ids.size:
            return []
        
        # Calculate recommendation scores
        scores = np.zeros(len(self.news_ids))
        valid_click_count = 0
        
        for news_id in clicked_news_ids:
            if news_id in self.news_to_idx:
                row_index = self.news_to_idx[news_id]
                row = self.hybrid_similarity_matrix[row_index]
                scores += row
                valid_click_count += 1
        
        if valid_click_count == 0:
            return []
        
        scores /= valid_click_count
        
        # Get recommendations
        clicked_set = set(clicked_news_ids)
        sorted_indices = np.argsort(scores)[::-1]
        
        recommendations = []
        for idx in sorted_indices:
            if len(recommendations) >= top_n:
                break
            candidate = self.news_ids[idx]
            if candidate not in clicked_set:
                recommendations.append(self.get_news_details(candidate))
        
        return recommendations
    
    def evaluate_recommendations(self, top_n=5, test_size=0.2, random_state=None):
        """Evaluate the recommender using Category Match and Content Similarity."""
        category_matches = []
        content_similarities = []
        
        # Iterate over all users
        for user_id in self.cleaned_data['User ID'].unique():
            user_clicks = self.get_user_history(user_id)
            if len(user_clicks) < 2:  # Skip users with insufficient history
                continue
            
            # Split clicks into train and test
            split_point = int(len(user_clicks) * (1 - test_size))
            train_clicks = user_clicks[:split_point]
            test_clicks = user_clicks[split_point:]
            
            if len(train_clicks) == 0 or len(test_clicks) == 0:
                continue
            
            # Generate recommendations based on train clicks
            recommendations = self.recommend_news(clicked_news_ids=train_clicks, top_n=top_n)
            if not recommendations:
                continue
            
            # Get user's main category
            user_main_category = self.cleaned_data[self.cleaned_data['User ID'] == user_id]['Main Category'].mode()[0]
            
            # Calculate category match
            category_match = len([news for news in recommendations if news['category'] == user_main_category]) / top_n
            category_matches.append(category_match)
            
            # Calculate content similarity
            user_content_embeddings = self.content_embeddings[[self.news_to_idx[news_id] for news_id in train_clicks if news_id in self.news_to_idx]]
            if len(user_content_embeddings) == 0:
                continue
            
            # Average content embedding for user's history
            user_avg_embedding = np.mean(user_content_embeddings, axis=0)
            
            # Content similarity for recommendations
            recommended_embeddings = self.content_embeddings[[self.news_to_idx[news['news_id']] for news in recommendations]]
            content_similarity = np.mean([cosine_similarity([user_avg_embedding], [embedding])[0][0] for embedding in recommended_embeddings])
            content_similarities.append(content_similarity)
        
        # Aggregate metrics
        avg_category_match = np.mean(category_matches) if category_matches else 0
        avg_content_similarity = np.mean(content_similarities) if content_similarities else 0
        
        return {
            f'CategoryMatch@{top_n}': avg_category_match,
            f'ContentSimilarity@{top_n}': avg_content_similarity
        }


# Initialize recommender
recommender = NewsRecommender('updated.csv')

# Evaluate the system
metrics = recommender.evaluate_recommendations(top_n=5, test_size=0.2, random_state=42)
print("\nEvaluation Metrics:")
for metric, value in metrics.items():
    print(f"{metric}: {value:.4f}")

Evaluation Metrics:
CategoryMatch@5: 0.8225
ContentSimilarity@5: 0.6587